{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			{{ if and (.Params.showthedate) (.Site.Params.showDatesOnPosts) }}
			<b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time></b>
			{{ end }}
			{{ if .Params.tags }}
			<br>
				{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
			{{ end }}
			<div>
				{{ .Content }}
			</div>
		</article>
		{{ if and (not .Params.nocomments) (.Site.Params.utterancesRepo) }}
		<h2>Comments</h2>
		<script src="https://utteranc.es/client.js"
				repo="{{ .Site.Params.utterancesRepo }}"
				issue-term="pathname"
				theme="preferred-color-scheme"
				crossorigin="anonymous"
				async>
		</script>
		{{ end }}
	</main>
{{ end }}
