{{ define "main" }}
	<main>
		<article>
			<h1>{{ .Title }}</h1>
			{{ if and (.Params.showthedate) (.Site.Params.showDatesOnPosts) }}
			<b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time>
			{{ end }}
			{{ if and (not .Params.nodisqus) (.Site.DisqusShortname) (.Site.Params.enableDisqusCount) }}
			- <a href="{{ .Permalink }}#disqus_thread">Cannot load comments</a>
			{{ end }}
            </b>
			{{ if isset .Params "tags" }}
			<br>
				{{ range .Params.tags }}
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
					{{ end }}
			{{ end }}
			<div>
				{{ .Content }}
			</div>
			{{ if and (not .Params.nodisqus) (.Site.DisqusShortname) }}
			<h1>Comments</h1>
			{{ template "_internal/disqus.html" . }}
            {{ end }}
		</article>
	</main>
{{ end }}
