<style>
    a:hover, a:link {
        transition: color .2s ease-out
    }

    p > code, pre {
        color: var(--precolor);
        background: var(--prebgcolor)
    }

    .center, img {
        display: block
    }

    figure, img {
        margin: auto
    }

    body, button, code, figcaption, input, pre, textarea {
        font-family: 'Space Grotesk', sans-serif
    }

    code {
        font-family: 'Space Mono', monospace;
    }

    footer {
        padding-top: 24px;
    }

    @font-face {
        font-display: swap;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/space-grotesk-v15-latin-regular.eot');
        src: url('/fonts/space-grotesk-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/space-grotesk-v15-latin-regular.woff2') format('woff2'),
        url('/fonts/space-grotesk-v15-latin-regular.woff') format('woff'),
        url('/fonts/space-grotesk-v15-latin-regular.ttf') format('truetype'),
        url('/fonts/space-grotesk-v15-latin-regular.svg#SpaceGrotesk') format('svg');
    }

    @font-face {
        font-display: swap;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 700;
        src: url('/fonts/space-grotesk-v15-latin-700.eot');
        src: url('/fonts/space-grotesk-v15-latin-700.eot?#iefix') format('embedded-opentype'),
        url('/fonts/space-grotesk-v15-latin-700.woff2') format('woff2'),
        url('/fonts/space-grotesk-v15-latin-700.woff') format('woff'),
        url('/fonts/space-grotesk-v15-latin-700.ttf') format('truetype'),
        url('/fonts/space-grotesk-v15-latin-700.svg#SpaceGrotesk') format('svg');
    }


    @font-face {
        font-display: swap;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/space-mono-v13-latin-regular.eot');
        src: url('/fonts/space-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/space-mono-v13-latin-regular.woff2') format('woff2'),
        url('/fonts/space-mono-v13-latin-regular.woff') format('woff'),
        url('/fonts/space-mono-v13-latin-regular.ttf') format('truetype'),
        url('/fonts/space-mono-v13-latin-regular.svg#SpaceMono') format('svg');
    }


    html {
        overflow-y: scroll
    }

    :root {
        --bgcolor: #FFF;
        --fontcolor: #333333;
        --linkcolor: #3838cc;
        --visitedcolor: #3838cc;
        --hovercolor: #6617CB;
        --precolor: #FFF;
        --prebgcolor: #333333
    }

    body {
        max-width: 800px;
        margin: 40px auto;
        padding: 0 10px;
        line-height: 24px;
        color: var(--fontcolor);
        background: var(--bgcolor)
    }

    a:link {
        text-decoration: none;
        color: var(--linkcolor)
    }

    a:active, a:visited {
        color: var(--visitedcolor)
    }

    a:hover {
        color: var(--hovercolor)
    }

    h1, h2, h3 {
        line-height: 1.2
    }

    h1 {
        font-size: 2.5em
    }

    h2 {
        font-size: 2em
    }

    h3 {
        font-size: 1.5em
    }

    p > code {
        padding: 2px
    }

    pre {
        padding: 24px;
        overflow-x: auto
    }

    article {
        padding: 12px 0
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        width: 100%
    }

    figcaption {
        color: #888;
        text-align: center
    }

    img {
        max-width: 100%;
        height: auto
    }

    button, input, textarea {
        margin: 3px 0
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --bgcolor: #0D1117;
            --fontcolor: #CCCCCC;
            --linkcolor: #5bf;
            --visitedcolor: #5bf;
            --hovercolor: #FC5296;
            --precolor: #CCCCCC;
            --prebgcolor: #0D1117
        }

        button, input, textarea {
            border: 1px solid #ccc;
            background-color: #0d1117;
            color: #ccc
        }

        .boxed {
            padding: 0 10px;
            border: 1px solid #ccc
        }
    }

    @media (prefers-color-scheme: light) {
        button, input, textarea {
            border: 1px solid #333;
            background-color: #fff;
            color: #333
        }

        .boxed {
            padding: 0 10px;
            border: 1px solid #333
        }
    }

    div.highlight {
        font-size: 14px;
        line-height: 20px
    }

    div.highlight table pre {
        padding: 0
    }
</style>
