<style>
    #temporal {
        position: absolute;
        background-color: #A3262A;
        color: #FFD84B;
        text-align: center;
        top: 0;
        left: 0;
        width: 100%;
    }
</style>
<div id="temporal" style="display: none;"><b>Happy New Lunar Year!</b></div>
<div id="temporalSpacer" style="height: 0.1em;"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const startDate = new Date("2025-01-27");
        const endDate = new Date("2025-02-02");
        const today = new Date();
        if (today >= startDate && today <= endDate) {
            document.getElementById("temporal").style.display = "block";
        }
    });
</script>